#platform=x86, AMD64, or Intel EM64T
#version=RHEL8
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Only use sda disk
ignoredisk --only-use=sda

# System bootloader configuration
bootloader --append="rhgb novga console=ttyS0,115200 console=tty0 panic=1" --location=mbr --driveorder="sda" --boot-drive=sda

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all

# Reboot after installation
reboot

# Use text mode install
text

# Use CDROM
cdrom

# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''

# System language
lang en_US.UTF-8

# Installation logging level
logging --level=info

# Network information
network --bootproto=dhcp --device=enp0s3 --noipv6 --activate --hostname server1.example.com

# Root password
rootpw --iscrypted $1$oXhMRzpse6FeGBc1uF2JmG2xTeSWPL9

# System authorization information
authselect --enableshadow --passalgo=sha512

# SELinux configuration
selinux --disabled

firstboot --disable

# Do not configure the X Window System
skipx

# System services
services --disabled="kdump,rpcbind,sendmail,postfix,chronyd"

# System timezone
timezone Asia/Kolkata --isUtc --ntpservers=10.43.12.34

# Disk partitioning information
autopart --type=lvm

%packages
@^minimal-environment
smartmontools
sysstat
tmux
tuned
zip
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
